div.container p {
  color: blue;
  text-align: center;
}

 h2 {
   text-align: center;
   margin-top: 40px;
 }

#formOne {
  width: 1000px;
  border: 3px solid gray;
  padding: 20px;
  margin: 30px;
}

div.languages {
  display: none;
  color: blue;
  text-align: center;
}

#languages {
  font-size: 48px;
  font-weight: bold;
}
